.com-title {
    &__img {
        display: block;
    }
    &__txt {
        display: block;
    }
    p {
        display: block;
    }
}
%bg-default {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.bg_top {
    position: relative;
    padding-bottom: 80%;
    height: 0;
    background-image: url("../img/bg_top.png");
    background-size: contain;
}
.bg_middle {
    @extend %bg-default;
    height: 100%;
    // min-height: 1564px;
    // max-height: 1564px;
    background-image: url("../img/bg_middle.png");
}
.bg_bottom {
    @extend %bg-default;
    height: 100%;
    // min-height: 1590px;
    // max-height: 1590px;
    background-image: url("../img/bg_bottom.png");
    // z-index: -2;
}
%board_blueWrap {
    top: 1000px;
    margin: 0 auto;
    display: block;
}

.img_board {
    @extend %board_blueWrap;
    width: 1280px;
    height: 960px;
    margin: 0 auto;
    display: block;
}
// 질문 박스 공통 영역 
%box-inner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    border-radius: 25px;
    margin-top: 40px;
}

%qBox_innerWrap {
    border-radius: 20px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    padding: 20px;
    margin-top: 15px;
    width: 100%;
    height: auto;
    word-break: keep-all;
    word-wrap: break-word;
}

%bg_flower-Type01 {
    background: url("../img/img_flower01.png") no-repeat 50% 50% / 100% auto;
}

%bg_flower-Type02 {
    background: url("../img/img_flower02.png") no-repeat 50% 50% / 100% auto;
}

//background-Color
%boxColor-white {
    background-color: #ffffff;
}
%boxColor-blue {
    background-color: #316EBD;
}
%boxColor-pink {
    background-color: #EC95D5;
}
%boxColor-purple {
    background-color: #6B33A4;
}
%boxColor-sky {
    background-color: #45EBF8;
}
//font-Color
%fontColor-white {
    color: #ffffff;
}
%fontColor-blue {
    color: #316EBD;
}
%fontColor-purple {
    color: #743BBC;
}
%fontColor-pink {
    color: #FA73D0;
}
%fontColor-lime {
    color: #4AFF00;
}
%fontColor-magenta {
    color: #DE26CE;
}
//input box
%input[type=text] {
    width: 140px;
    height: 140px;
    line-height: 140px;
    font-size: 100px;
    color: #111;
    background: #fff;
    vertical-align: middle;
    text-align: center;
    font-weight: 800;
    border: 6px solid;
    outline: none;
    font-family: "SCDream", sans-serif;
}
%input[type=text]::placeholder {
    text-align: center;
    font-size: 100px;
    color: #CCCCCC;
    font-weight: 700;
    padding: 20px 0;
}
%input[type=text]:hover,
input[type=text]:focus {
    background-color: transparent;
}
// common
.-mR36 {
    margin-right: 36px;
}
.-mR90 {
    margin-right: 90px;
}
.contents_Inner {
    @extend %board_blueWrap;
    position: absolute;
    top: 392px;
    left: 50%;
    transform: translate(-50%, -28%);
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-width: 1220px;
    padding: 0 25px 25px;
    // height: calc(100% - 230px);
    // margin-top: 90px;

    .headTitle {
        @extend %fontColor-purple;
        font-size: 42px;

        span {
            @extend %fontColor-pink;
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                top: -70%;
                left: 0;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background: url("../img/ico_star.png") no-repeat 50% 50% / 100% auto;
            }
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translate(0, 100%);
                width: 240px;
                height: 20px;
                background: url("../img/ico_wave_pink.png") no-repeat 50% 50% / 100% auto;
            }
        }
    }
    .box-middle {
        @extend %box-inner;
        @extend %boxColor-blue;
        min-height: 260px;
    }

    .box-middle_pink {
        @extend %box-inner;
        @extend %boxColor-pink;
    }

    .questionBox {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 20px;
        width: calc(100% - 180px);
        margin-left: auto;

        h2 {
            font-size: 40px;
            color: $color-white;
            font-weight: 700;
        }
        .qBox_inner {
            @extend %qBox_innerWrap;
            background: $color-white;
        }
        .qBox_inner.txt-blue {
            @extend %fontColor-blue;
        }
        .qBox_inner.txt-pink {
            @extend %fontColor-pink;
        }

        &::before {
            content: '';
            display: inline-block;
            margin: 0;
            position: absolute;
            top: 50%;
            left: -2%;
            transform: translate(-100%, -50%);
            width: 125px;
            height: 125px;
            // background: url("../img/img_flower01.png") no-repeat 50% 50% / 100% auto;
            @extend %bg_flower-Type01;
        }
        @at-root .bg_middle .questionBox {
            &::before {
                @extend %bg_flower-Type02;
            }
        }
    }
    .box-small {
        @extend %box-inner;
        @extend %boxColor-purple;
        justify-content: space-between;
        padding: 20px;

        .box_left {
            display: flex;

            h3 {
                min-width: 125px;
                height: 80px;
                line-height: 80px;
                font-size: 30px;
                background: $color-sky;
                color: $color-purple;
                // color: #6B33A4;
                // background-color: #45EBF8;
                border-radius: 50px;
                text-align: center;
                position: relative;

                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(-0%, -80%);
                    width: 60px;
                    height: 70px;
                    background: url("../img/ico_hint.png") no-repeat 50% 50% / 100% auto;
                }
            }
        }
        .hint_title {
            display: block;
            padding-left: 40px;

            p {
                color: $color-white;
                font-size: 25px;
                width: 100%;
                padding-top: 35px;

                &:first-child {
                    padding-top: 0;
                }
                &:nth-of-type(2) {
                    padding-top: 14px;
                }
                .hint_highlight {
                    // @extend %fontColor-lime;
                    color: $color-lime;
                    font-size: 30px;
                    text-decoration-line: underline;
                    text-underline-offset: 10px;
                }
            }
        }
        .box_right {
            background: $color-white;
            color: $color-magenta;
            // @extend %fontColor-magenta;
            margin-left: auto;
            font-size: 25px;
            border-radius: 50px;
            padding: 30px 55px 30px 30px;
            position: relative;

            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                top: 20%;
                right: 0;
                transform: translate(-100%, 50%);
                margin-left: 10px;
                width: 25px;
                height: 25px;
                background: url("../img/arrow_rt_pink.svg") no-repeat 50% 50% / 100% auto;
            }
        }
    }
    .inputWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 40px;

        .inputBox {
            @extend %input
        }
        .inputBox.border-orange {
            border-color: $color-orange;
        }
        .inputBox.border-firebrick {
            border-color: $color-firebrick;
        }
    }
}

%board_greenWrap {
    top: 500px;
    margin: 0 auto;
    display: block;
}
.board_green {
    @extend %board_greenWrap;
    position: relative;
}

.board_blue {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    z-index: 10;
}
.bottomWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0;
    width: 1280px;
    margin: 0 auto;
    p {
        display: block;
        .period {
            background-color: $color-violet;
            font-size: 30px;
            color: $color-white;
            border-radius: 30px;
            padding: 15px 28px;
            display: inline-block;
            position: relative;
        }
        .date {
            font-size: 30px;
            color: #222;
            font-weight: 600;
            padding-left: 24px;
        }
    }
    img{margin-top: 50px;}

    .event_btn {
        min-width: 1280px;
        background-color: $color-prussianBlue;
        color: $color-white;
        height: 100px;
        line-height: 100px;
        font-size: 36px;
        font-weight: 600;
        text-align: center;
        margin-top: 50px;
        border-radius: 20px;
    }

    .noticeWrap {
        background-color: rgba(255, 255, 255, 0.5);
        width: 100%;
        margin-top: 50px;
        padding: 40px;
        border-radius: 20px;

        .notice_title {
            width: 100%;
            font-size: 20px;
            color: $color-deepPink;
            font-weight: 600;
            position: relative;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: inline-block;
                width: 35px;
                height: 35px;
                background: url("../img/ico_notice.svg") no-repeat 50% 50% / 100% auto;
                margin-right: 15px;
            }
        }

        .hr_border {
            border: 1px solid $color-babyPink;
            border-radius: 1px;
            width: 100%;
            border-width: 1px 0 0 0;
            margin-top: 15px;
        }
        hr {
            display: none;
        }
        .notice_list {
            font-size: 18px;
            font-weight: 500;
            color: $color-purple;
            display: flex;
            align-items: center;
            margin-top: 15px;

            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url("../img/ico_diamond.svg") no-repeat 50% 50% / 100% auto;
                margin-right: 15px;
            }
        }

    }

}
