---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section class="bg_top">
    <div class="board_blue">
      <img
        src="../img/img_board_blue.png"
        alt="boardBackground"
        class="img_board"
      />
      <ul class="contents_Inner">
        <li>
          <h1 class="headTitle f-yg">
            초성 빈칸에 직접 정답을 채워 <span class="f-yg">첫 번째 정답</span
            >을 맞춰보세요!~
          </h1>
        </li>
        <li class="box-middle">
          <div class="questionBox">
            <h2>2023년 문화의달은 어디에서 진행될까요?</h2>
            <p class="qBox_inner txt-blue">
              1004개의 섬으로 이루어진 지리적 특성을 표현하여 풍요로운 미래를
              향해 전진하는 발전적이고 진취적인 의미의 지역 브랜드입니다.
            </p>
          </div>
        </li>
        <li class="inputWrap">
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-01"
            maxlength="1"
            placeholder="ㅊ"
          />
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-02"
            maxlength="1"
            placeholder="ㅅ"
          />
          <input
            class="inputBox -mR90"
            type="text"
            id="answerTxt-03"
            maxlength="1"
            placeholder="ㅅ"
          />
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-04"
            maxlength="1"
            placeholder="ㅅ"
          />
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-05"
            maxlength="1"
            placeholder="ㅇ"
          />
        </li>
        <li class="box-small">
          <div class="box_left">
            <h3 class="f-yg">힌트</h3>
            <span class="hint_title">
              <p>2023 문화의 달 행사가 열리는 장소를 상징하는</p>
              <p>
                <sapn class="hint_highlight f-yg"
                  >지역명이 포함된 브랜드로고</sapn
                >를 찾아보세요!
              </p>
            </span>
          </div>
          <a href="" class="box_right f-yg">홍보페이지 보러가기</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="bg_middle">
    <div class="board_green">
      <img
        src="../img/img_board_green.png"
        alt="boardBackground"
        class="img_board"
      />
      <ul class="contents_Inner">
        <li>
          <h1 class="headTitle f-yg">
            초성 빈칸에 직접 정답을 채워 <span class="f-yg">두 번째 정답</span
            >을 맞춰보세요!~
          </h1>
        </li>
        <li class="box-middle_pink">
          <div class="questionBox">
            <h2>신안 고유의 섬문화를 일컫는 이 말은 무엇일까요?</h2>
            <p class="qBox_inner txt-pink">
              섬 지역에서 주민들이 해안이나 들판에서 같이 춤추고 노래하면서 어우러지는 판으로, 독특한 유희·문화·축제 성격의 제의문화를 일컫는 말로 2023 문화의달 행사에서는 아일랜드 ○○○, 천사섬 ○○○, 신안 ○○○ 등의 다채로운 행사가 준비되어 있습니다.
            </p>
          </div>
        </li>
        <li class="inputWrap">
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-01"
            maxlength="1"
            placeholder="ㅊ"
          />
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-02"
            maxlength="1"
            placeholder="ㅅ"
          />
          <input
            class="inputBox -mR90"
            type="text"
            id="answerTxt-03"
            maxlength="1"
            placeholder="ㅅ"
          />
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-04"
            maxlength="1"
            placeholder="ㅅ"
          />
          <input
            class="inputBox -mR36"
            type="text"
            id="answerTxt-05"
            maxlength="1"
            placeholder="ㅇ"
          />
        </li>
        <li class="box-small">
          <div class="box_left">
            <h3 class="f-yg">힌트</h3>
            <span class="hint_title">
              <p>2023 문화의 달 행사가 열리는 장소를 상징하는</p>
              <p>
                <sapn class="hint_highlight f-yg"
                  >지역명이 포함된 브랜드로고</sapn
                >를 찾아보세요!
              </p>
            </span>
          </div>
          <a href="" class="box_right f-yg">홍보페이지 보러가기</a>
        </li>
      </ul>
    </div>
  </section>
</Layout>

<section class="bg_bottom"></section>
