$path-set: (
	img: "../img/",
);

/*칼라*/
$color-blue : #316EBD;
$color-prussianBlue: #02244F;
$color-white : #ffffff;
$color-pink : #EC95D5;
$color-deepPink : #BC44BD;
$color-babyPink : #EECAEA;
$color-purple : #6B33A4;
$color-violet : #5B1E87;
$color-magenta : #DE26CE;
$color-orange : #FF6C00;
$color-firebrick : #BD1515;
$color-sky : #45EBF8;
$color-lime : #4AFF00;
